main {
    background-image: url(../../assets/images/fondo.jpg);
    height: 100rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    .banner {
        margin-top: 2rem;
        width: 100%;
        height: 25rem;
        object-fit: contain;
        background-color: rgba(0, 0, 0, 0.433);
        backdrop-filter: blur(10px);

        &:hover {
            transform: scale(1.07);
            transition: 3s;
        }


    }

    .contenedorCards {
        margin: 2rem;
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        background-color: gray;
        .card {
            width: 10rem;

            .cardImage {
                width: 100%;
            }
            p{
                font-size: 1.3rem;
            }
            button{
                font-size: 1.4rem;
                cursor: pointer;
                }
            .btn{
                width: 3rem;
            }

        }

    }

}
