main{
    height: 30rem;
    background-image: url(../../assets/images/fondo.jpg);
    height: 100rem;
    img{

        width: 100%;
        height: 25rem;
        object-fit: contain;
        border-radius: 5rem;
    }
}