


/* header */

header{
    background-color: #000056;

    width: 100%;
    height: 15rem;
    .navbar {
        grid-area: "navbar";
        height: 15rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    
        .contenedorTitulo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 50%;
            align-items: center;
    
            h1 {
                color: #de4126;
                font-size: 100px;
                font-style: oblique;
                font-family: 'ArcadeClassic', sans-serif;
                padding-top: 2rem;
                margin-left: 1rem;
                height: max-content;
                cursor: pointer;
    
                width: max-content;
    
                &:hover {
                    border-bottom: 2px solid #de4126;
                    transform: scale(1.03);
    
                }
            }
    
            .logosNavbar {
                display: flex;
                flex-direction: row;
                margin: 3rem;
                gap: 2rem;
                border-bottom: 2px solid #de4126;
                
                    gap: 1rem;
                    img {
                        width: 3rem;
                        height: 3rem;
                        &:hover{
                            transform: scale(1.09);
                        }
                    }
            }
    
        }
    
        .barrabusqueda {
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            .contenedorItems{
                .contenedorCarrito{
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    align-items: center;
                    border: red solid 2px;
                    padding: 0px 1rem;
                    background-color: black;
                    cursor: pointer;
                    &:hover{
                        transform: scale(1.09);
                    }
                    .carrito{
                        color: white;
                        font-size: 3rem;
                        
                    }
                    p{
                        font-size: 2rem;
                        color: white;
                    }
                }
            }
            
            .barra {
                width: 700px;
                height: 40px;
                display: flex;
                position: relative;
                gap: 5px;
                }

                button{
                    font-size: 1.4rem;
                    cursor: pointer;
                    &:hover{
                        transform: scale(1.09);
                    }
                }

                input {
                    width: 700px;
                    font-size: 1.5rem;
                    &::placeholder{
                        text-align: center;
                        font-size: 1.3rem;
                }
            }

            .inicio {
                list-style: none;
                font-size: 2rem;
                margin-left: 2rem;
                &:hover {
                    border-bottom: 2px solid #de4126;
                    transform: scale(1.03);
                }
            }
        }
    }

}


