//footer 

footer{
    background-color: #000056;

    grid-area: "footer";
    display: flex;
gap: 10rem;
    flex-direction: row;

    .footer{
        h2{
            color: #de4126;
                font-size: 2rem;
                font-style: oblique;
                font-family: 'ArcadeClassic', sans-serif;
            
        }
        padding: 1rem;
        p{
            font-size: 1.2rem;
        }
    }
    .tarjetas{
        h3{
            color: #de4126;

        }
        padding: 2rem;
        img{
            width: 30rem;
        }
    }
}